body {
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);

  margin: 50px auto;

font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.post-container {
  background: white;
  max-width :400px ;
  width: 100%;
  margin: 0 auto;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.2);

}

.form-inner {
  padding : 30px
}

h1 {
  
  font-weight: 700;
  padding:20px;
  color: #3a4660;
  text-align: center;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.1);
  letter-spacing: 1.4;
   
text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  
}



.input-holder{
  position: relative;
  margin-bottom: 25px;

}

.input-text, textarea {
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
  color: black;
  top: 18px;
  font-size: 15px;

}

textarea{
  min-height: 160px;
  padding: 15px 0;
  font-size: 15px;
  
}

.label {
  position: absolute;
    
text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  pointer-events:none;
  transition:.2s ease all;
  font-size:  16px;
  color:
  #44318d
  ;
  top:-18px;
  letter-spacing: 1;
  line-height: 1.4rem;

}

button {
  cursor : pointer;
  border-radius: 3px;
  padding: 15px;
  width: 100%;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.1);
  border: none;
  font-size: 16px;
  background: transparent;
  transition: 0.2s;
  
}
button:hover{
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.4);
}

.postBtn {
  background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
  color:white
}


button:focus{
  outline: 0;
}

input:focus,
textarea:focus {
  outline: 0;
  border-bottom: 2px solid #44318d;
  
}
/* input:focus ~ .label,
textarea:focus ~ .label,
input:not(:focus):valid ~ .label,
textarea:not(:focus):valid ~ .label{
  top: 10px;
  left: 0;
  font-size: 12px ;

}  */